<!DOCTYPE html>
<html>
<head>
  <title>Response</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h2><%= message %></h2>
    <a href="/">Go Back</a>
  </div>
</body>
</html>
